<!DOCTYPE html>
<html>
    
<head>

</head>

<body>
<!---Chat Board Start-->
<div class="chat-board chatbot chat new trending"></div>
    <div class="frame-content">
        <div class="widget-position-right sidebar-position-right onlyBubble" id="chatContainer">

            <div class="chat no-clip-path chrome moveFromRight-enter-done">
                <div class="chat-header project-online" style=" background-color: #009970;">
                    <h2 class="oneline"><span>VERMEG</span></h2>
                    <button class="material-icons exit-chat ripple tidio-1s5t5ku" id="minimize-button" type="button" aria-label="Minimize" style="color: rgb(255, 255, 255);">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" id="ic-minimize">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
                        </svg>
                        <span>Minimize</span>
                    </button>
                    <div class="offline-message" style="background-color: #ffffffc2">
                        <span class="online"><span>We are online</span></span>
                    </div>        

                </div>
                <br>


                <div id="chat-container">
                    <form id="choice-form">
                        <button type="button" id="entreprise-button">Entreprise</button>
                        <button type="button" id="association-button">Association</button>
                    </form>
    
                    <div class="chat">
                        <div class="chat-display">
                          <div class="message" *ngFor="let message of messages">
                            <span class="sender">{{ message.sender }}:</span> {{ message.content }}
                          </div>
                        </div>
                        <div class="chat-input">
                          <input type="text" [(ngModel)]="userInputElementValue" />
                          <button (click)="sendMessage(userInputElementValue)">Send</button>
                        </div>
                      </div>
                      
                </div>


                <div class="input-group ">
                    <hr>
                    
                </div>
            </div>

        </div>
        <div id="chat-button" data-testid="widgetButton" class="chat-closed mobile-size__medium">
            <div class="buttonWave"></div>
            <button type="button"
                    id="button-body"
                    data-testid="widgetButtonBody"
                    class="chrome"
                    tabindex="0"
                    aria-label="Open chat widget"
                    style="background: linear-gradient(135deg, rgb(42, 39, 218), rgb(0, 204, 255)); box-shadow: rgba(0, 77, 255, 0.5) 0px 4px 24px;">
                <i class="material-icons type1 for-closed active" style="color: rgb(255, 255, 255);">
                    <svg id="ic_bubble" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z"></path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </i>
               
            </button>
        </div>
        <div id="chat-display"></div>
    </div>
    




</body>
    <!---Chat Board End-->
    </html> 
    
    