<div>
  <!-- Chat Button -->
  <button id="chat-button" (click)="openChatBot()" class="chat-closed mobile-size__medium">
    <div class="buttonWave"></div>
    <button type="button" id="button-body" data-testid="widgetButtonBody" class="chrome" tabindex="0" aria-label="Open chat widget">
      <i class="material-icons type1 for-closed active" [style.color]="'rgb(255, 255, 255)'">
        <svg id="ic_bubble" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z"></path>
          <path d="M0 0h24v24H0z" fill="none"></path>
        </svg>
      </i>
    </button>
  </button>
</div>

<!-- Chatbox -->
<div *ngIf="isActivateChat" class="chatbox">
  <nav style=" background-color: #49a846; /* Couleur de fond des boutons */
  color: #ffffff; /* Couleur du texte des boutons */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;"
  class="widget-background-panel" role="banner">RSE TIME CHAT</nav>

  <!-- Chat Messages -->
  <div class="message from">
    HELLO 👋
  </div>

  <div class="message from">
    You are
  </div>

  <div class="message form">
    <button (click)="clickEvent(ASSOCIATION_LABEL)"
            class="suggestion-btn">ASSOCIATION</button> <br>
    <br>
    <button 
    class="suggestion-btn"
     (click)="clickEvent(ENTREPRISE_LABEL)">
      ENTREPRISE
    </button>
  </div>

  <!-- Existing message loop -->
  <ng-container *ngFor="let message of messages">
    <div class="message" [ngClass]="{ from: message.author === 'bot', to: message.author === 'user' }">
      <span>{{ message.content }}</span>
    </div>
  </ng-container>

  <div class="flex-container"  *ngIf="!isLoading">
 <!-- Input and Send Button -->
 <input mdbInput type="text" 
        id="form1" 
        class="form-control" 
        [(ngModel)]="value" 
        (keyup.enter)="sendMessage()" 
        type="text" 
        placeholder="Type here"/>

 <button class="send-btn" 
         (click)="sendMessage()"> 
         Send 
</button>
  </div>
</div>
